<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>tytul</title>
</h:head>
<h:body>
	<h:form>
		<h1>Przegrałeś!</h1> 
		<p>Spróbuj jeszcze raz <h:link value="kliknij" outcome="index" /> </p>
	</h:form>
</h:body>
</html>