<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>tytul</title>
</h:head>
<h:body>
	<a href="poll.xhtml">poll</a>
	<hr />
	<h2>Please fill the form below</h2>
		<h:form>
		<table>
			<tr>
				<td>
					<h:outputLabel value="first name" />
				</td>
				<td>
					<h:inputText value="#{receiver.firstName}" required="false" />
				</td>
			</tr>
			
			<tr>
				<td>
					<h:outputLabel value="last name" />
				</td>
				<td>
					<h:inputText value="#{receiver.lastName}" required="true" />
					<f:ajax event="click" render="btn-send"></f:ajax>
				</td>
			</tr>
			
			<tr>
				<td>
					<h:outputLabel value="age" />
				</td>
				<td>
					<h:inputText value="#{receiver.age}" required="true">
						<f:ajax event="click" render="btn-send"></f:ajax>
						<f:validateLongRange minimum="0" maximum="120" />
					</h:inputText>
				</td>
			</tr>
			
			<tr>
				<td>
					<h:outputLabel value="gender" />
				</td>
				<td>
					<h:selectOneRadio value="#{receiver.gender}" required="true" >
						<f:ajax event="click" render="btn-send"></f:ajax>
					    <f:selectItems value="#{receiver.genders}" />
					</h:selectOneRadio>
				</td>
			</tr>
			
			<tr>
				<td>
					<h:outputLabel value="province" />
				</td>
				<td>
					<h:selectOneMenu value="#{receiver.province}" required="true">
					<f:selectItem itemValue="#{null}" itemLabel="Choose one..." 
       					noSelectionOption="true"/>
						<f:ajax event="click" render="btn-send"></f:ajax>
					    <f:selectItems value="#{receiver.provinces}" />
					</h:selectOneMenu>
				</td>
			</tr>
		</table>
			<h:commandButton value="send" action="#{receiver.receive}" id="btn-send"
			disabled="#{facesContext.validationFailed}" />
		</h:form> 
</h:body>
</html>