<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		xmlns:p="http://primefaces.org/ui"
		xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>poll</title>
	<style>
		li {
			padding: 5px;
		}
		input[type=text], label {
		    display: inline-block;
		    width: 300px;
		}
	</style>
	
</h:head>
<h:body>

	<h:form>
		<h:commandLink action="#{ad.click}" value="#{ad.adText}" />
	</h:form>
	
	<hr />
	<h:form>
		<ul>
			<!-- ========== -->
			<li>
				<h:outputLabel value="name" />
				<h:inputText value="#{poll.name}" required="true">
					<f:ajax event="change" render="btn-send"></f:ajax>
					<f:ajax event="click" render="btn-send"></f:ajax>
				</h:inputText>
			</li>
			<!-- ========== -->
			<li>
				<h:outputLabel value="email" />
				<h:inputText value="#{poll.email}" required="true">
					<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
					<f:ajax event="change" render="btn-send"></f:ajax>
					<f:ajax event="click" render="btn-send"></f:ajax>
				</h:inputText>
			</li>
			<!-- ========== -->
			<li>
				<h:outputLabel value="post code" />
				<h:inputText value="#{poll.postCode}" required="true">
					<f:validateRegex pattern="[0-9]{2}-[0-9]{3}" />
					<f:ajax event="change" render="btn-send"></f:ajax>
					<f:ajax event="click" render="btn-send"></f:ajax>
				</h:inputText>
			</li>
			<!-- ========== -->
			<li>
				<h:outputLabel value="age" />
				<h:inputText value="#{poll.age}" required="false">
					<f:validateLongRange minimum="10" maximum="100" />
					<f:ajax event="click" render="btn-send"></f:ajax>
				</h:inputText>
			</li>
			<!-- ========== -->
			<li>
				<h:outputLabel value="gender" />
				<h:selectOneRadio value="#{poll.gender}" required="true" >
				    <f:selectItems value="#{poll.genders}" />
					<f:ajax event="click" render="btn-send container-women container-men"></f:ajax>
				</h:selectOneRadio>
			</li>
			<!-- ========== -->
			<li>
				<h:outputLabel value="education" />
				<h:inputText value="#{poll.education}" required="false">
					<f:ajax event="click" render="btn-send"></f:ajax>
				</h:inputText>
			</li>
			<!-- ========== -->
			<li>
				<h:outputLabel value="size" />
				<h:inputText value="#{poll.size}" required="false">
					<f:validateLongRange minimum="20" maximum="50" />
					<f:ajax event="click" render="btn-send"></f:ajax>
				</h:inputText>
			</li>
			<!-- ========== -->
			<li>
				<h:outputLabel value="new customer" />
				<h:selectBooleanCheckbox value="#{poll.newcomer}" required="false">
					<f:ajax event="change" render="container-newcomer container-client"></f:ajax>
				</h:selectBooleanCheckbox>
			</li>
			<!-- ========== -->
			<h:panelGroup layout="block" id="container-newcomer" style="display:#{(poll.newcomer)?'block':'none'}">
				<!-- ========== -->
				<li>
					<h:outputLabel value="how much are you willing to spend on shopping monthly" />
					
					<h:selectOneMenu value="#{poll.cashSpentMonthly}" required="false">
					<f:selectItem/>
					    <f:selectItems value="#{poll.cashSpentMonthlyOptions}" />
					</h:selectOneMenu>
				</li>
				<!-- ========== -->
				<li>
					<h:outputLabel value="the place you buy clothes most often" />
					
					<h:selectOneMenu value="#{poll.usuallyShoppingPlace}" required="false">
					<f:selectItem/>
					    <f:selectItems value="#{poll.usuallyShoppingPlaceOptions}" />
					</h:selectOneMenu>
				</li>
				<!-- ========== -->
				<li>
					<h:outputLabel value="how often do you buy clothes" />
					
					<h:selectOneMenu value="#{poll.shoppingRate}" required="false">
					<f:selectItem/>
					    <f:selectItems value="#{poll.shoppingRateOptions}" />
					</h:selectOneMenu>
				</li>
				<!-- ========== -->
				<li>
					<h:outputLabel value="favourite clothes colors" />
					
					<h:selectOneMenu value="#{poll.favouriteColor}" required="false">
					<f:selectItem />
					    <f:selectItems value="#{poll.favouriteColorOptions}" />
					</h:selectOneMenu>
				</li>
			</h:panelGroup>
			<!-- ========== -->
			<h:panelGroup layout="block" id="container-women" style="display:#{(poll.gender=='FEMALE')?'block':'none'}">
				<li>
					<h:outputLabel value="favourite type of clothes" />
					
					<h:selectOneMenu value="#{poll.favouriteClothesType}" required="false">
					<f:selectItem />
					    <f:selectItems value="#{poll.favouriteClothesTypeOptionsWomen}" />
					</h:selectOneMenu>
				</li>
			</h:panelGroup>
			<!-- ========== -->
			<h:panelGroup layout="block" id="container-men" style="display:#{(poll.gender=='MALE')?'block':'none'}">
				<li>
					<h:outputLabel value="favourite type of clothes" />
					
					<h:selectOneMenu value="#{poll.favouriteClothesType}" required="false">
					<f:selectItem />
					    <f:selectItems value="#{poll.favouriteClothesTypeOptionsMen}" />
					</h:selectOneMenu>
				</li>
			</h:panelGroup>
			<!-- ========== -->
			<h:panelGroup layout="block" id="container-client" style="display:#{(poll.newcomer)?'none':'block'}">
				<li>
					<h:outputLabel value="last time shopping in our stores" />
					
					<h:selectOneMenu value="#{poll.lastTimeShopping}" required="false">
					<f:selectItem />
					    <f:selectItems value="#{poll.lastTimeShoppingOptions}" />
					</h:selectOneMenu>
				</li>
				<!-- ========== -->
				<li>
					<h:outputLabel value="are you satisfied" />
					
					<h:selectOneMenu value="#{poll.satisfied}" required="false">
					<f:selectItem />
					    <f:selectItems value="#{poll.satisfactionOptions}" />
					</h:selectOneMenu>
				</li>
				<!-- ========== -->
				<li>
					<h:outputLabel value="did you enjoy our service" />
					
					<h:selectOneMenu value="#{poll.opinionAboutWorkers}" required="false">
					<f:selectItem />
					    <f:selectItems value="#{poll.satisfactionOptions}" />
					</h:selectOneMenu>
				</li>
				<!-- ========== -->
				<li>
					<h:outputLabel value="comments" />
					<h:inputTextarea value="#{poll.comments}" required="false" />
				</li>
				<!-- ========== -->
			</h:panelGroup>
		</ul>
			<h:commandButton value="send" action="#{poll.send}" id="btn-send"
			disabled="#{facesContext.validationFailed}" />
	</h:form>
</h:body>
</html>