<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>poll summary</title>
</h:head>
<h:body>
	<a href="index.xhtml">back home</a>
	<hr />
	<ul>
		<li style="display: #{not empty poll.name ? 'list-item' : 'none'};">
			<h:outputLabel value="name: #{poll.name}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.email ? 'list-item' : 'none'};">
			<h:outputLabel value="email: #{poll.email}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.postCode ? 'list-item' : 'none'};">
			<h:outputLabel value="post code #{poll.postCode}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.age ? 'list-item' : 'none'};">
			<h:outputLabel value="age: #{poll.age}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.gender ? 'list-item' : 'none'};">
			<h:outputLabel value="gender: #{poll.gender}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.education ? 'list-item' : 'none'};">
			<h:outputLabel value="education: #{poll.education}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.size ? 'list-item' : 'none'};">
			<h:outputLabel value="size: #{poll.size}" />
		</li>
		<!-- for clients -->
		<li style="display: #{not empty poll.lastTimeShopping and not poll.newcomer ? 'list-item' : 'none'};">
			<h:outputLabel value="last time shopping in our stores: #{poll.lastTimeShopping}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.satisfied and not poll.newcomer ? 'list-item' : 'none'};">
			<h:outputLabel value="are you satisfied: #{poll.satisfied}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.opinionAboutWorkers and not poll.newcomer ? 'list-item' : 'none'};">
			<h:outputLabel value="did you enjoy our service: #{poll.opinionAboutWorkers}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.comments and not poll.newcomer ? 'list-item' : 'none'};">
			<h:outputLabel value="comments: #{poll.comments}" />
		</li>
		<!-- for newcomers -->
		<li style="display: #{not empty poll.cashSpentMonthly and poll.newcomer ? 'list-item' : 'none'};">
			<h:outputLabel value="how much are you willing to spend on shopping monthly: #{poll.cashSpentMonthly}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.usuallyShoppingPlace and poll.newcomer ? 'list-item' : 'none'};">
			<h:outputLabel value="the place you buy clothes most often: #{poll.usuallyShoppingPlace}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.shoppingRate and poll.newcomer ? 'list-item' : 'none'};">
			<h:outputLabel value="how often do you buy clothes: #{poll.shoppingRate}" />
		</li>
		<!-- ========== -->
		<li style="display: #{not empty poll.favouriteColor and poll.newcomer ? 'list-item' : 'none'};">
			<h:outputLabel value="favourite clothes colors: #{poll.favouriteColor}" />
		</li>
		<!-- ========== -->
	</ul>
</h:body>
</html>