<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>title</title>
</h:head>
<h:body>
	<h2>data received:</h2>
	<ul>
		<li>first name: #{receiver.firstName}</li>
		<li>last name: #{receiver.lastName}</li>
		<li>age: #{receiver.age}</li>
		<li>gender: #{receiver.gender}</li>
		<li>province: #{receiver.province}</li>
	</ul>
</h:body>
</html>