<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>title</title>
</h:head>
<h:body>

	<ul id="list"></ul>
	
	<br />
	
	<input type="button" id="refresh-list" value="refresh" />
	<br />
	<span style="background-color: #000; color: #FFF">details</span><br />
	<div style="background-color: #000; color: #FFF" id="details"></div><br />
	
	<input type="button" value="create new collection" id="create" />
	<br />
	<span>create new cat: </span><br />
	<input id="name" />
	<input type="number" id="age" />
	<input type="button" value="add" id="add" />

	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="scripts.js"></script>

</h:body>
</html>