<%@ tag language="java" pageEncoding="ISO-8859-1"%>
	
	<% String login = (String)request.getAttribute("login"); %>
	<% if(login!=null) { %>
		logged in as:
		<strong>
		<%= login %>
		</strong>, <a href="login?action=logout">logout</a><br />
	<% } else { %>
		
		<form method="POST" action="login">
			<input name="login" value="login" />
			<input type="password" name="password" value="pass" />
			<input type="submit" value="login" />
		</form>
	
	<% } %>
	<hr />