<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		xmlns:p="http://primefaces.org/ui"
	    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Filters</title>
</h:head>
<h:body>
	<h1>home</h1><br />
	<h:form method="post" style="display: #{not empty login.logged ? 'none' : 'block'};">
		<h:outputLabel value="username :" />
		<h:inputText value="#{login.userName}" required="true" />
		<h:outputLabel value="password :" />
		<h:inputSecret value="#{login.password}" required="true" />
		<h:commandButton value="login" action="#{login.login}"/>
	</h:form><br />
	
	<h:panelGroup style="display: #{not empty login.logged ? 'block' : 'none'};">
		<h:outputLabel value="logged in as #{login.logged}" />
		<h:form>
			<h:commandButton value="logout" action="#{login.logout}"/>
		</h:form><br />
	</h:panelGroup>
	
	<a href="secret.xhtml">secret!</a>
	
</h:body>
</html>