<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		xmlns:p="http://primefaces.org/ui"
	    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Filters</title>
</h:head>
<h:body>

	secret<br />
	<a href="index.xhtml">home</a>

</h:body>
</html>