<html 
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<hr />
		<h:outputLink value="index.xhtml">home</h:outputLink><br />
		<!-- LOGGED IN -->
		<h:panelGroup style="display: #{not empty login.loggedUserName ? 'block' : 'none'};">
			<h:outputLabel value="logged in as #{login.loggedUserName}" />
			<h:form>
				<h:commandButton value="logout" action="#{login.logout}"/>
			</h:form><br />
			
			<h:outputLink value="places.xhtml">parking places</h:outputLink><br />
		</h:panelGroup>
		<!-- NOT LOGGED IN -->
		<h:form method="post" style="display: #{not empty login.loggedUserName ? 'none' : 'block'};">
			<h:outputLabel value="username :" />
			<h:inputText value="#{login.userName}" required="true" />
			<h:outputLabel value="password :" />
			<h:inputSecret value="#{login.password}" required="true" />
			<h:commandButton value="login" action="#{login.login}"/>
		</h:form><br />
		<h:outputLink  style="display: #{not empty login.loggedUserName ? 'none' : 'block'};" 
			value="register.xhtml">register</h:outputLink>
	<hr />
</ui:composition>
</html>