<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		xmlns:p="http://primefaces.org/ui"
	    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	    xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<title>Parkometr - parking places</title>
</h:head>
<h:body>
	<ui:include src="/menu.xhtml" />
	<h:form>
		<p:remoteCommand name="updateActiveTicketsCount" update="active-tickets-count" />
		<p:outputLabel autoUpdate="true"
			id="active-tickets-count" 
			value="Number of tickets bought recently(outdated maximum 10 minutes):  #{parking.activeTicketsCount}"></p:outputLabel>
	</h:form>
	<br />
	<h2>parking places:</h2>
	<h:form>
		<p:remoteCommand name="updatePlaces" update="places-list" />
		<p:outputPanel id="places-list">
			<ul>
			    <ui:repeat value="#{parking.places}" var="place">
			        <li>
			        	<h:outputLabel value="code #{place.code}" /> | 
			        	<h:outputLabel value="occupied" style="color: #F00 ;display: #{place.occupied ? 'inline-block' : 'none'};" />
			        	<h:outputLabel value="free" style="color: #0F0 ;display: #{place.occupied ? 'none' : 'inline-block'};" />
			       	</li>
			    </ui:repeat>
			</ul>
		</p:outputPanel>
    </h:form>
    
	<h:form>
		<p:remoteCommand name="updatecurrentTicket" update="current-ticket-container" />
		<h:panelGroup layout="block" id="current-ticket-container">
			<h:panelGroup style="display: #{not empty parking.currentTicket ? 'none' : 'block'};">
			    <br />
			    <input type="number" id="cash" />
			    <br />
			    <select id="place-code">
			    	<ui:repeat value="#{parking.places}" var="place">
			    		<option value="#{place.code}"><h:outputLabel value="#{place.code}" /></option>
			    	</ui:repeat>
			    </select>
			    <br />
			    <input type="button" value="buy ticket" id="buy-ticket"/>
			    <br />
			    <h:outputLabel id="out"></h:outputLabel>
				<br />
			</h:panelGroup>
			
			<p:outputLabel autoUpdate="true"  style="display: #{not empty parking.currentTicket ? 'block' : 'none'};"
				id="current-ticket" 
				value="current ticket untill: #{parking.currentTicket.expireDate} on place #{parking.currentTicket.parkingPlace.code}"></p:outputLabel>
		</h:panelGroup>
	</h:form>

	<h:outputScript name="js/jquery.js" />
	<h:outputScript name="js/places.js" />

</h:body>
</html>