<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		xmlns:p="http://primefaces.org/ui"
	    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Parkometr</title>
</h:head>
<h:body>
	<ui:include src="/menu.xhtml" />
	<h1>register</h1>
	<h:form>
		<h:outputLabel value="username :" />
		<h:inputText value="#{register.userName}" required="true" />
		<h:outputLabel value="password :" />
		<h:inputSecret value="#{register.password}" required="true" />
		<h:commandButton value="register" action="#{register.register}"/>
	</h:form><br />
	<h:outputLabel  style="color: #F00; display: #{not empty register.message ? 'block' : 'none'};"
		value="server message: #{register.message}"></h:outputLabel><br />
	
</h:body>
</html>